#login,
#loggedin {
    display: none;
}
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

iframe.follow-widget {
    border: none;
    overflow: hidden;
    height: 24px;
    width: 92px;
}
